# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
---
name: Typos

on:
    workflow_call:
    workflow_dispatch:

defaults:
    run:
        shell: bash

env:
    CI: true
    CARGO_TERM_COLOR: always

permissions:
    pull-requests: write

jobs:
    typos:
        name: typos
        runs-on: ubuntu-latest
        steps:
            - name: Checkout to the repository
              # https://github.com/actions/checkout
              uses: actions/checkout@v4

            - name: Spell check with `typos`
              # https://github.com/crate-ci/typos
              uses: crate-ci/typos@v1.16.22
              id: lint_typos

            - name: Create error comment
              if: failure()
              # https://github.com/marocchino/sticky-pull-request-comment
              uses: marocchino/sticky-pull-request-comment@v2
              with:
                  header: lint-typos-error
                  message: |
                      ## âŒ **typos**

                      **There are some spell check issues _(typos)_ found!**

                      You can preview the annotations in [Files changed] tab.

                      [Files changed]: https://github.com/rust-cleaners/polished-css/pull/${{ github.event.pull_request.number }}/files

                      ---

                      > **Note:**
                      > This comment will automatically get deleted once the issue is resolved.

            - name: Delete the error comment
              # Delete a previous comment when the issue has been resolved
              if: success()
              # https://github.com/marocchino/sticky-pull-request-comment
              uses: marocchino/sticky-pull-request-comment@v2
              with:
                  header: lint-typos-error
                  delete: true
